:root{
    --azzurro-bg: #B4D0E7;
    --blue-button: #0061FF;
    --verde-badge: #A2D39B;
    --granata-badge-text: #61082B;
    --azzurro-badge: #0093CE;
    --rosso-badge: #FF1C1C;
    --azzurro-chiaro-badge: #B4D0E7;
    --blu-badge: #0D2481;
    --giallo-badge: #FFD830;


}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Generics */
body{
  font-family: 'Open Sans', sans-serif;
}

/* Utils */
.container-jum-foot {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
  max-width: 1000px;
  margin: 0 auto;
}


